.avatar{
  width: 200px !important;
  height: 200px !important;
  margin: 15vh auto 3% auto;  
}

.textarea{
  cursor: default;
  margin: 0% auto 2% auto;
  text-align: center;
  position: absolute !important;
}

.title{
  color: rgb(255, 255, 255);
}

.subtitle{
  color: wheat;
}